.container{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    border-radius: 10px;
}

.modal img{
    width: 75%;
}
.modal h4{
    margin:0;
    font-size: 1.5rem;
}

.action .btn{
    margin-right: 15px;
}

@media (max-width:678px) {

                .modal {
                    padding: 1rem;
                    width:350px;
                }
        
                .modal img {
                    width: 75%;
                }
        
                .modal h4 {
                    margin: 0;
                    font-size: 1.5rem;
                }
        
                .action .btn {
                    margin-left: 70px;
                }
    }
















